body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table{
    width: 50%;
    margin: auto;
    border-collapse: collapse;
    background-color: antiquewhite;
}

th{
    border: 2px solid black;
    background-color: cadetblue;
    padding: 16px;
}

td{
    border: 2px solid black;
    text-align: center;
    padding: 10px;
}

tfoot{
    background-color: brown;
    color: white;
}